.background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgb(0, 0, 0, 0.7);
}

.modalLogin {
  position: fixed;
  border-radius: 10px;
  box-sizing: 0 0 1em rgb(0 0 0 / .3);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f5f5f5;
  color: #1f1f22;
  padding: 0.5rem;
}

.modalLogin .body {
  display: flex;
  justify-content: center;
}

.body .container {
  width: 80%;
}

.text {
  text-align: center;
}

.text.login {
  margin-bottom: 32px
}

.login img {
  margin-bottom: 28px;
}

.login h2 {
  margin-bottom: 20px;
}

.text p {
  line-height: 1.5rem;
}

.formInput {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #333335;
  background-color: #e6e6e6;
  background-clip: padding-box;
  border: transparent;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-top: 8px;
}

.formInput:focus {
  border-color: #FFB53D;
  outline: 0;
  box-shadow: 0 0 0 0.25rem #FFB53D;
}

.formRadio {
  text-align: center;
  padding: 0.5rem;
}

.formRadio input[type='radio'] {
  margin-left: 10px;
}

.text.register {
  margin-bottom: 10px;
} 

.buttonClose {
  box-sizing: content-box;
  width: 1em;
  height: 1em;
  padding: 0.25em 0.25em;
  color: #fff;
  background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
  border: 0;
  border-radius: 0.375rem;
  opacity: 0.5;
  cursor: pointer;
}

.buttonSubmit:hover {
  background-color: #eb9710;
  color: #fff;
}

.groupButtonsOptional {
  padding: 10px 0px;
}

.groupButtonsOptional p {
  margin-bottom: 10px;
}

.buttonOptional {
  display: inline-block;
  padding: 0.7rem 1.8rem;
  font-size: 14px;
  font-weight: bold;
  line-height: 1px;
  color: #333335;
  text-align: center;
  cursor: pointer;
  border: transparent;
  border-radius: 50px;
  background-color: #e6e6e6;
  width: 47%;
  margin-right: 10px;
  transition: 0.8s ease;
}


.buttonOptional:hover {
  background-color: #eeb04c;
  color: #fff;
}

/* 
  Navegation tabs
*/

.tabs {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.tabsHead {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.tabsToggle {
  margin: 0 5px;
  padding: 7px 25px;
  cursor: pointer;
  width: 50%;
  text-align: center;
  transition: .5s;
}

.tabsActive {
  background: #FFB53D;
  height: 4px;
  border-radius: 3px;
  margin-top: 4px;
}

.tabsContent {
  display: none;
}

.tabsContent.contentActive {
  display: block;
}


@media (max-width: 895px) {
  .modalLogin {
    width: 70%;
  }
}

@media (max-width: 639px) {
  .modalLogin {
    width: 80%;
  }
}

@media (max-width: 560px) {
  .buttonOptional {
    width: 100%;
    margin-bottom: 10px;
  }
}