.header {
  position: fixed;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 8vh;
}

.menuItem {
  cursor: pointer;
}

.menuList {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.buttonMenu {
  background-color: inherit;
  border-color: transparent;
  cursor: pointer;
  display: none;
}

.menuItem img {
  border-radius: 50%;
}

@media screen and (max-width: 767px) {
  .background {
    background-color: #1f1f22;
    transition: 0.5s ease-in;
  }

  .buttonMenu {
    display: block;
  }

  .menuList {
    width: 50%;
    height: 100vh;
    margin-top: 58rem;
    padding-top: 10px;
    flex-direction: column;
    background-color: #1f1f22;
    transition: 0.5s ease-in;
    transform: translateX(200%);
  }

  .active {
    transform: translateX(100%);
  }

  .menuItem {
    padding: 10px 0px;
  }
}

@media screen and (max-width: 568px) {
  .active {
    transform: translateX(60%);
  }
}