* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: 'Lexend';
  src: url('../../public/fonts/LexendDeca-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Josefin Sans';
  src: url('../../public/fonts/JosefinSans-VariableFont_wght.ttf');
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: 'Josefin Sans' !important;
  background-color: #171719 !important;
  color: #fff !important;
}

a {
  color: inherit !important;
  text-decoration: none !important;
}

li {
  list-style: none;
}

.buttonPrimary, .buttonSecondary {
  display: inline-block;
  padding: 1rem 1.8rem;
  font-size: 15px;
  font-weight: bold;
  line-height: 1px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: transparent;
  border-radius: 50px;
  background-color: #FFB53D;
  transition: 0.2s ease-in-out;
}

.buttonPrimary:hover {
  background-color: #eb9710;
  color: #fff;
}

.buttonSecondary {
  background-color: inherit;
  color: #FFB53D;
  border: 1px solid #FFB53D;
}

.buttonSecondary:hover {
  background-color: #FFB53D;
  color: #fff;
  border: 1px solid #FFB53D;
}

.w_100 {
  width: 100%;
}

/*
  Forms
*/
.containerCard {
  background-color: #1f1f22;
  margin: 10rem 0;
  padding: 4rem;
  border-radius: 10px;
}

.containerCard form {
  max-width: 80%;
  margin-top: 20px;
}

.formInput, .formTextarea {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #b8b8b8;
  background-color: #333335;
  background-clip: padding-box;
  border: transparent;
  border-radius: 10px;
  margin-bottom: 32px;
  margin-top: 10px;
}

.formInput:focus, .formTextarea:focus {
  background-color: #333335;
  border-color: #FFB53D;
  outline: 0;
  box-shadow: 0 0 0 0.25rem #FFB53D;
}

.inputsGroup {
  display: flex;
  gap: 15px;
  justify-content: space-between;
}

.inputsGroup div {
  width: 100%;
}

@media (max-width: 991px) {
  .containerCard form {
    max-width: 100%;
    margin-top: 20px;
  }  
}
