* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: 'Lexend';
  src: url('../../public/fonts/LexendDeca-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Josefin Sans';
  src: url('../../public/fonts/JosefinSans-VariableFont_wght.ttf');
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: 'Josefin Sans';
  background-color: #171719;
  color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}

.buttonPrimary, .buttonSecondary {
  display: inline-block;
  padding: 1rem 1.8rem;
  font-size: 15px;
  font-weight: bold;
  line-height: 1px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: transparent;
  border-radius: 50px;
  background-color: #FFB53D;
  transition: 0.2s ease-in-out;
}

.buttonPrimary:hover {
  background-color: #eb9710;
  color: #fff;
}

.buttonSecondary {
  background-color: inherit;
  color: #FFB53D;
  border: 1px solid #FFB53D;
}

.buttonSecondary:hover {
  background-color: #FFB53D;
  color: #fff;
  border: 1px solid #FFB53D;
}

.w_100 {
  width: 100%;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}