.bookInfo {
  display: flex;
  flex-wrap: wrap;
  padding: 8rem 0rem;
}

.colImage {
  width: 30%;
}

.colInfo {
  width: 50%;
}

.colInfo .rankStars {
  margin-bottom: 10px;
}

.colInfo h1 {
  margin-bottom: 10px;
}

.colInfo h3 {
  margin-bottom: 20px;
}

.colInfo p {
  margin-bottom: 20px;
  line-height: 22px;
}

.buttonIcon {
  display: inline-block;
  padding: 0.6rem 1.8rem;
  font-size: 15px;
  font-weight: bold;
  line-height: 1px;
  color: #fff;
  text-align: center;
  cursor: pointer;
  border: transparent;
  border-radius: 10px;
  background-color: #FFB53D;
}

.buttonIcon:hover {
  background-color: #eb9710;
  color: #fff;
}

/*
  Comments
*/

.comment {
  width: 28rem;
  padding: 0.7rem;
  margin: 1rem 0rem;
  border-radius: 5px;
  background-color: #333335;
}

.comment h4 {
  margin-bottom: 0.6rem;
}

.commentFooter {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.commentFooter small {
  color: #ffffffbe;
}

.iconButton {
  background-color: inherit;
  border: none;
  cursor: pointer;
}

.formComment {
  display: flex;
  flex-direction: column;
  margin: 2rem 0rem;
}

.inputComment {
  display: block;
  width: 28rem;
  height: 4rem;
  padding: 0.375rem 0.75rem;
  font-size: 0.9rem;
  line-height: 1.5;
  color: #b8b8b8;
  background-color: #333335;
  background-clip: padding-box;
  border: transparent;
  border-radius: 5px;
  margin-bottom: 10px;
}

.inputComment:focus {
  background-color: #333335;
  border-color: #FFB53D;
  outline: 0;
  box-shadow: 0 0 0 0.25rem #FFB53D;
}

.buttonComment {
  display: inline-block;
  padding: 1rem 1.8rem;
  height: 2rem;
  width: 10rem;
  font-size: 15px;
  font-weight: bold;
  line-height: 1px;
  color: #fff;
  text-align: center;
  cursor: pointer;
  border: transparent;
  border-radius: 5px;
  background-color: #FFB53D;
  transition: 0.2s ease-in-out;
}

.buttonComment:hover {
  background-color: #eb9710;
  color: #fff;
}

@media (max-width: 991px) {
  .colImage {
    width: 50%;
  }
}

@media (max-width: 767px) {
  .bookInfo {
    flex-direction: column;
  }

  .comment {
    width: 100%;
  }

  .formComment {
    width: 100%;
  }

  .inputComment {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .colInfo {
    width: 100%;
    margin-top: 1rem;
  }
}